[package]
name = "ashell"
description = "Barely customizable Wayland status bar for Hyprland compositor."
homepage = "https://github.com/MalpenZibo/ashell"
version = "0.1.0"
edition = "2021"

[dependencies]
iced = { version = "0.12.1", features = ["tokio", "multi-window", "advanced", "wgpu"] }
iced_sctk = { git = "https://github.com/MalpenZibo/iced_sctk", features = ["no-hand-cursor"] } 
chrono = "0.4"
hyprland = { git = "https://github.com/MalpenZibo/hyprland-rs", branch="master" }
serde = "1.0"
serde_json = "1.0"
sysinfo = "0.30"
tokio = { version = "1", features = ["full"] }
zbus = "4.2"
libpulse-binding = { version = "2.28", features = ["pa_v15"] }
libpulse-tokio = "0.1"
inotify = "0.10"
log = { version = "0.4", features=["serde"] }
flexi_logger = "0.28"
serde_yaml = "0.9"
pipewire = "0.8.0"
wayland-client = "0.31.3"
wayland-protocols = { version = "0.32.1", features = ["client", "unstable"] }
itertools = "0.13.0"
hex_color = { version = "3.0.0", features = ["serde"] }

