[package]
name = "ashell"
description = "A ready to go Wayland status bar for Hyprland and Niri"
homepage = "https://malpenzibo.github.io/ashell/"
repository = "https://github.com/MalpenZibo/ashell"
license = "MIT"
version = "0.7.0"
edition = "2024"
rust-version = "1.88"

[profile.release]
lto = "thin"
strip = true
opt-level = 3
panic = "abort"

# The profile that 'dist' will build with
[profile.dist]
inherits = "release"

[package.metadata.nfpm]
provides = ["ashell"]
depends = ["libxkbcommon", "dbus"]

[package.metadata.nfpm.deb]
depends = ["libwayland-client0", "libpipewire-0.3-0t64", "libpulse0"]
[package.metadata.nfpm.rpm]
depends = ["libwayland-client", "pipewire-libs", "pulseaudio-libs"]

[dependencies]
iced = { git = "https://github.com/MalpenZibo/iced", rev = "237116726a405b326bf6f61f2b9105b38a938490", features = [
  "tokio",
  "multi-window",
  "advanced",
  "wgpu",
  "winit",
  "wayland",
  "image",
  "svg",
  "canvas",
] }
chrono = { version = "0.4", default-features = false, features = ["clock"] }
hyprland = "0.4.0-beta.2"
serde = { version = "1.0", default-features = false, features = [] }
sysinfo = "0.37"
tokio = { version = "1", default-features = false, features = [] }
zbus = { version = "5", default-features = false, features = ["tokio"] }
libpulse-binding = { version = "2.28", features = ["pa_v15"] }
log = { version = "0.4", features = [] }
flexi_logger = "0.31"
pipewire = "0.9"
wayland-client = "0.31.12"
wayland-protocols = { version = "0.32.10", features = ["client", "unstable"] }
itertools = "0.14"
hex_color = { version = "3", features = ["serde"] }
anyhow = "1"
udev = { version = "0.9", features = ["send", "sync"] }
toml = "0.9"
freedesktop-icons = "0.4"
linicon-theme = "1.2.0"
once_cell = "1.18.0"
walkdir = "2"
serde_json = "1"
regex = "1.12.2"
serde_with = "3.12.0"
tokio-stream = "0.1.17"
uuid = { version = "1.19.0", features = ["v4"] }
clap = { version = "4.5", features = ["derive"] }
shellexpand = { version = "3", features = ["path"] }
inotify = "0.11.0"
pin-project-lite = "0.2.16"
niri-ipc = "25.11.0"
parking_lot = "0.12.5"

[build-dependencies]
allsorts = "0.15"

[package.metadata.rpm]
package = "ashell"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
ashell = { path = "/usr/bin/ashell" }
