[package]
name = "ashell"
description = "A ready to go Wayland status bar for Hyprland"
homepage = "https://github.com/MalpenZibo/ashell"
version = "0.5.0"
edition = "2024"
rust-version = "1.85"

[dependencies]
iced = { git = "https://github.com/MalpenZibo/iced", features = [
  "tokio",
  "multi-window",
  "advanced",
  "wgpu",
  "winit",
  "wayland",
  "image",
  "lazy",
  "svg",
  "canvas"
] }
chrono = "0.4"
hyprland = "0.4.0-beta.2"
serde = "1.0"
sysinfo = "0.36"
tokio = { version = "1", features = ["full"] }
zbus = { version = "5", default-features = false, features = ["tokio"] }
libpulse-binding = { version = "2.28", features = ["pa_v15"] }
inotify = "0.11"
log = { version = "0.4", features = ["serde"] }
flexi_logger = "0.31"
pipewire = "0.8"
wayland-client = "0.31.5"
wayland-protocols = { version = "0.32.3", features = ["client", "unstable"] }
itertools = "0.14"
hex_color = { version = "3", features = ["serde"] }
anyhow = "1"
udev = { version = "0.9", features = ["send", "sync"] }
toml = "0.9"
freedesktop-icons = "0.4"
linicon-theme = "1.2.0"
serde_json = "1"
regex = "1.11.1"
serde_with = "3.12.0"
tokio-stream = "0.1.17"
uuid = { version = "1.16.0", features = ["v4"] }
clap = { version = "4.5", features = ["derive"] }
shellexpand = "3"
