.text-bold {
  font-weight: 600;
}

.text-xxs {
  font-size: 8px;
}

.text-xs {
  font-size: 10px;
}

.text-s {
  font-size: 12px;
}

.text-m {
  font-size: 16px;
}

.text-l {
  font-size: 24px;
}

.text-strong {
  font-weight: 800;
}
