@import "./theme.scss";

window.background {
  background-color: transparent;
}

.bar {
  margin: 0px 4px;
}

.bar-item {
  background-color: $base;
  padding: 4px 8px;
  border-radius: 20px;
}

.interactive:hover {
  background-color: $surface-0;
}

.workspace {
  background-color: $peach;
  border-radius: 16px;
}

.workspace.empty {
  background-color: $surface-0;
}

