$base: hsl(240, 21%, 15%);
$crust: hsl(240, 23%, 9%);
$surface-0: hsl(237, 16%, 23%);
$surface-1: hsl(234, 13%, 31%);
$overlay-0: hsl(231, 11%, 47%);

$text: hsl(226, 64%, 88%);

$peach: hsl(23, 92%, 75%);
$red: hsl(343, 81%, 75%);
$yellow: hsl(41, 86%, 83%);
$green: hsl(115, 54%, 76%);
