.bg {
  background-color: $dark-2;
}

.bg-light {
  background-color: $dark-4;
}

.bg-extra-light {
  background-color: $dark-4;
}

.bg-dark {
  background-color: $dark-1;
}

.bg-dark-2 {
  background-color: $dark-2;
}

.bg-dark-3 {
  background-color: $dark-3;
}

.bg-dark-4 {
  background-color: $dark-4;
}

.bg-accent {
  background-color: $accent_color;
}

.fg-accent {
  color: $accent_color;
}

.fg-green {
  color: #a6e3a1;
}

.fg-red {
  color: #f38ba8;
}

.fg-black {
  color: black;
}

.bg-yellow {
  background: #f9e2af;
}
