$dark-1: hsl(0, 0, 12);
$dark-2: hsl(0, 0, 14);
$dark-3: hsl(0, 0, 19);
$dark-4: hsl(0, 0, 22);

$light-1: hsl(0, 0, 30);
$light-2: hsl(0, 0, 36);
$light-3: hsl(0, 0, 80);
$light-4: hsl(0, 0, 86);

$accent_color: #fab387;
