name: Publish
permissions:
  contents: write

on:
  pull_request:
    types:
      - closed

env:
  CARGO_TERM_COLOR: always

jobs:
  if_publish:
    if: |
      github.event.pull_request.merged == true 
      && startsWith(github.event.pull_request.head.ref, 'release-')
      && startsWith(github.event.pull_request.title, 'Release')

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
        with:
          ref: "main"

      - name: Config Git
        uses: oleksiyrudenko/gha-git-credentials@v2.1.2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Get New version
        id: gettag
        run: |
          echo "TAG_NAME=$(cargo pkgid | cut -d# -f2 | cut -d@ -f2)" >> $GITHUB_OUTPUT

      - name: Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          validation_level: warn
          version: ${{ steps.gettag.outputs.TAG_NAME }}
          path: ./CHANGELOG.md

      - name: Create a Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.gettag.outputs.TAG_NAME }}
          body: ${{ steps.changelog_reader.outputs.changes }}
